@use 'resets';
@use 'variables' as v;

.homepage {
  // @include v.main();

  h1 {
    font-family: 'Karla', 'Nunito';
    font-weight: 700;
    color: v.$primary-blue;
  }
  p,
  button {
    @include v.sharedProp();
  }
  p {
    color: v.$primary-blue;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: v.$spacer * 1.2;
  }
  button {
    @include v.button();
  }
}
