@use 'resets';
@use 'variables' as v;

.homepage {
  // @include v.main();

  h1 {
    font-family: 'Karla', 'Nunito';
    font-weight: 700;
    color: v.$primary-blue;
  }
  p,
  button {
    font-family: 'Inter', 'Nunito' !important;
    width: max-content;
    margin-inline: auto;
  }
  p {
    color: v.$primary-blue;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: v.$spacer * 1.2;
  }
  button {
    appearance: none;
    background-color: v.$btn-blue;
    color: v.$white-200;
    padding: 0.8em 3em;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: 400;
  }
}
